<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}" lang="en"
        th:with="activeMenuItem='addRecipe'">
<head>
    <title>Додати Рецепт</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semi bold text-gray-900">Додати Рецепт</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <span>TODO show add recipes content</span>
        </div>
    </div>
</div>
</body>
</html>